h1{
    font-size: 3rem;
}
h2{
    font-weight: 700;
    font-size: 2rem;
}
body{
    font-family: sans-serif;
    text-align: center;
    margin: 0;
   
}

ul{
    list-style: none;
}


.top-container{
    height: 600px;
    width: 100%;
    background-image:url('../images/img-1.jpg') ;
    background-size: cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-position: center;

}
.top-1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    right: 4rem;
    
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #(white) on hover */
  li a:hover {
    background-color:black;
  }


.top-2{
    position: absolute;
    left: 50px;
    font-family: sans-serif;
    color: white;
    font-size: 1rem;
    bottom: 10rem;
     
}
.middle-container{
    height: 550px;
    width: 100%;
  
    
}

.middle-1{
    text-align: center;
    margin-top: 6.5rem;

}
.middle-2{
    display: inline-block;
    margin-top: 8rem;
    position: absolute;
    left: 10rem;
    text-align: center;
}
.middle-2-img{
    width: 4rem;
    background-color:black;


}

.middle-2-1{
    display: inline-block;
    margin: 0 4rem;
}



.middle-2-2{
    display: inline-block;
    margin: 0 4rem;
}




.middle-2-3{
    display: inline-block;
    margin: 0 4rem;
}


.bottom-container{
    height: 1000px;
    width: 100%;
    text-align: center;
    background-color: #EDF1D6;
   
}
 .bottom-2{
    margin-top:5rem;

 }  

 .bottom-text-1{

    display: inline-block;
    text-align: left;
    margin-left: 27rem;
    margin-top: 5rem;
 }



.bottom-image-1{
    height: 22rem;
    width: 25rem;
    float: left;
    position: absolute;
    left: 13rem;
    margin-top: 7rem;
    
 
}

.bottom-text-2{

    display: inline-block;
    text-align: left;
    margin-right: 33rem;
    
 }



.bottom-image-2{
    height: 22rem;
    width: 26rem;
    float: right;
    position: absolute;
    right: 16rem;
    margin-top: 2rem;
    
    
 
}






.myButton {
	box-shadow:inset 0px 1px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:3px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:14px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
    margin-top: 30px;
}
.myButton:hover {
	background:linear-gradient(to bottom, black 5%, black 100%);
	background-color:black;
}
.myButton:active {
	position:relative;
	top:1px;
}

.footer{

    margin-top:9rem;
   
    height: 19rem;
    width: 100%;

}

.footer-image{

    height:9rem;
    width:9rem;

}
        
    


 